<header>
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl font-bold tracking-tight text-gray-900">
      {assigns[:page_header] || assigns[:page_title]}
    </h1>
  </div>
</header>
<main>
  <div class="mx-auto max-w-7xl px-4 py-8 sm:px-6 lg:px-8">
    <.flash_group flash={@flash} />
    {@inner_content}
  </div>
</main>
